# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/
.conda/

# Build and Distribution
dist/
build/
*.egg-info/

# Data and Notebooks (Based on your TOML exclude)
data/
examples/microscopy_all_methods.ipynb
notebooks/
*.h5
*.sdt
*.tif

# IDE settings
.vscode/
.idea/

# Pytest / coverage cache
.pytest_cache/
.coverage
htmlcov/

# Stray files
pip
